@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right ml-auto" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link text-dark" })*@
                <a class = "nav-link text-dark userName" href="/Manage/Index/"> </a>
            </li>
            <li class="nav-item nav-link text-dark"><a href="javascript:document.getElementById('logoutForm').submit()" class="logOutButton">Одјави се</a></li>
        </ul>

        <style>
            .userName{color:black;}
            .userName:hover{text-decoration:none;color:black;}
            .logOutButton{color:black;}
            .logOutButton:hover{text-decoration:none;color:black;}

        </style>

        <script>
        jQuery.get("/Account/getUserName/?email=@User.Identity.Name", function(data) {
          $(".userName").html(data);
        });
        </script>
    }
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">@Html.ActionLink("Најавете се", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link text-dark" })</li>
        <li class="nav-item">@Html.ActionLink("Регистрирајте се", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link text-dark" })</li>
    </ul>
}
