@model List<SistemZaDonaciiNaKrv.Models.DonationModel>

@{
    ViewBag.Title = "GetUserDonations";
}

<h4>Вашите донации: </h4>
@if (Model.Count < 1)
{
    <div>
        Немате донирано крв.
    </div>
}
else
{
    <div>
        <table class="table">
            <thead>
                <tr class="table-info">
                    <th>Бр.</th>
                    <th>Датум</th>
                    <th>Град</th>
                </tr>
            </thead>
            @for (int i = 0, n = Model.Count; i < n; i++)
            {
                <tr class="@(i%2==0?"table-default":"table-active")">
                    <td>@Html.DisplayFor(it2 => Model[i].Id)</td>
                    <td>@Html.DisplayFor(it2 => Model[i].DonationTime)</td>
                    <td>@Html.DisplayFor(it2 => Model[i].City)</td>
                </tr>
            }
        </table>
    </div>
}