@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

    <div style="display:flex; justify-content: center">
        <div style="width:650px; display: flex; justify-content: center">
            <h4 style="text-align: center; margin-top: 25%; color: rgb(83, 83, 83)">Настана грешка додека го процесиравме вашето барање.</h4>
            <img style="margin-top: 5%;" src="~/Content/images/ErrorPageImage.png" width="250" />
        </div>
    </div>

@*<h2 class="text-danger">Страницата која ја баравте не постои</h2>*@

