@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<h2 class="text-danger">Настана грешка додека го процесиравме вашето барање.</h2>

@*<h2 class="text-danger">Страницата која ја баравте не постои</h2>*@

