@model SistemZaDonaciiNaKrv.Models.ChangeAddressViewModel
@{
    ViewBag.Title = "Промена на адреса";
}

    <h2>Промена на адреса</h2>


@using (Html.BeginForm("ChangeAddress", "Manage"))
{
    <div class="form-group">
        <label>Адреса</label>
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Промени</button>
}





