@model SistemZaDonaciiNaKrv.Models.ChangePhoneViewModel
@{
    ViewBag.Title = "Промена на телефон";
}

<h2>Промена на телефон</h2>

@using (Html.BeginForm("ChangePhoneNumber", "Manage"))
{
    <div class="form-group">
        <label>Телефон</label>
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Промени</button>
}
