@{
    ViewBag.Title = "За нас";
}


<h2 style="color:#d90404">За нас</h2>


<p style="font-size:19px">
    Донирај крв е апликација со која сакаме да го унапредиме процесот на крводарителство на територијата на РМ.
    Во нашата земја, крводарителството се темели на принципите на доброволност, анонимност, бесплатност и солидарност кои всушност се и одраз на нашата апликација. Активностите поврзани со процесот на крводаритекство се кординирани со Институтот за Трансфузиона медицина на РМ, кој гарантира за целосна доверливост на Вашите податоци.
</p>

<h3 style="color:#d90404">
    Сите активност кои се претстванени преку оваа апликација, се стремат кон:
</h3>

<ul>
    <li>
        унапредување на процесот на кровадарителство
    </li>
    <li>
        брз и бесплатен пристап до сите информации поврзани со процесот на крводарителство

    </li>
    <li>
        мотивирање на потенцијалните крводарители
    </li>
    <li>
        информирање на повеќекратните крводарители за идните донирања

    </li>
    <li>
        зајакнување на соработката помеѓу болниците и Институтот за Трансфузиона медицина на РМ

    </li>
    <li>
        лесен пристап до податоците за количината на залихи на крв

    </li>
</ul>
