@model List<SistemZaDonaciiNaKrv.Models.ApplicationUser>

@{
    ViewBag.Title = "AllDonorsView";
}

<h2>AllDonorsView</h2>

@foreach (var m in Model)
{
    <div>Name: @m.FirstName Email: @m.Email <a href="/Home/MakeUserDoctor?email=@m.Email">Make Doctor</a></div> 


}

<table>
</table>
