@{
    ViewBag.Title = "Контакт";
}

<h2 style="color:#d90404">Контакт информации </h2>
<p style="font-size:18px">
    Дoколку имате некаков технички проблем, некакви нејаснотии и прашања или едноставно сакате само
    да споделите Ваши искуства ќе ни биде мило доколку не исконтактирајте и го споделите тоа со нас.
</p>

<h4 style="font-style:italic; color:#d90404">Медицински прашања</h4>
<p>
    Ако имате некое медицинско прашање во врска со тоа дали може да донирате крв или имате некои нејаснотии
    при пополнување на прашалникот може да ни се јавите на  <strong>тефонскиот број (+389 2) 0000-000</strong>
</p>

<h4 style="font-style:italic; color:#d90404">Технички прашања</h4>
<p>
    Доколку имате технички проблеми или прашања може да се јавите на <strong>тефонскиот број (+389 2) 0000-001</strong>
</p>

<h4 style="font-style:italic; color:#d90404">Веше мислење </h4>
<p>
    Нашиот тим е секогаш отворен за комуникација, па токму поради тоа доколку имате некаква поплака за нашата услуга или
    имате предлози како да се подобриме, Ве молиме да го споделите тоа со нас. Исто така доколку сте задоволни од услугите, кажете ни,
    а тоа за нас ќе биде поттикт за уште подобри резултати.
    <br />
    <strong>тефонскиот број (+389 2) [ телефонски број ]</strong>
    <br />
    <strong>Емаил [ е-адреса ] </strong>
</p>
