@{
    ViewBag.Title = "Насловна страна";
}




<div class="text-center">
    <h3 style="color: red;">Дарувај крв спаси човечки живот.</h3>

</div>

<p>Да се стане крводарител пред се значи да се биде хуман човек.</p>
<p>Преку овој хуман гест, со само една донирана кеса крв, може да спасите и до 3 или 4 животи.</p>
<p>Доколку не сте целосно запознаени со овој процес <a href="/Home/Info/">тука</a> може да прочитате повеќе информации поврзани со донирање на крв.</p>

<div class="text-center">
    <a class="col-md-5" href="/Account/Register/">Регистрирајте се</a>
    <a class="col-md-5" href="/Account/Login/">Логирајте се</a>
</div>



