@{
    ViewBag.Title = "Информации";
}
<h2 style="color:#d90404">Сите потребни информации за процесот на донирање крв</h2>


<p style="font-size:18px">
    За една личност да стане крводарител, пред сè, мора да е здрава личност помеѓу 18 и 65 години.
    <br /> Исто така, личноста што дарува крв мора да тежи најмалку 50 килограми.
</p>

<h4 style="font-style:italic; color:#d90404">
    Препораки пред дарување крв
</h4>
<p>
    Ноќта пред планираното дарување крв спијте добро.<br />
    Оброкот пред дарувањето крв нека биде здрав, избегнувајте масни продукти како хамбургери, помфрит, сланина или сладолед. Земајте повеќе вода и други течности од вообичаено, не се препорачува да се пие алкохол 8 часа пред  дарувањето  крв.

</p>
<h4 style="color:#d90404; font-style:italic">
    Препораки по дарување крв
</h4>
<p>
    По дарувањето полежете 5 -10 минути, а потоа можете да се вратите на вашите секојдневни обврски. Но сепак запаметете неколку совети:
</p>
<ul>
    <li>
        Држете го завојот на раката барем два часа
    </li>
    <li>
        Не треба да пушите цигари 30 минути до 2 часа после дарувањето на крв, не треба да конзумирате алкохол најмалку 8 до 12 часа, особено не ако сте гладни

    </li>
    <li>
        Избегнувајте напорна физичка активност во наредните пет часа
    </li>
    <li>
        Пијте повеќе течности во првите 4 часа

    </li>
    <li>
        Доколку забележите крвавење или модрица на кожата, периодично применувајте ладна облога на тоа подрачје во текот на првите 24 часа
    </li>
    <li>
        Избегнувајте земање аспирин или ибупрофен во текот на првите 24-48 часа по дарувањето крв

    </li>
</ul>
<h4 style="color:#d90404; font-style: italic ">
    Здравствени придобивки за дарителите на крв
</h4>
<p>
    Според извештајот на британската Фондацијата за ментално здравје, помагањето на другите со дарување крв може да го намали стресот, да ја подобри емоционалната благосостојба, да му годи на физичкото здравје, да помогне при ослободување од негативни чувства, да овозможи чувство на припадност и да ја намали изолацијата.

    <br />
    Постојат истражувања кои даваат докази за помал ризик од срцеви заболувања кај дарителите на крв поради намалување на вискозноста на крвта и намалување на депоата на железо.


</p>